@import url("https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap");
@import url("https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Sora:wght@100..800&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Iansui&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --color-bg: #f5f5f3;
  --color-primary: #ff6b35;
  --color-primary-dark: #421301;
  --color-primary-hover: #ce3d3d10;
  --color-text: #0b0909;
  --color-text-light: #63615f;
  --color-accent: #a05529;
  --color-beige: #e7cdb2;
  --color-border: #a4a9aa;
  --font-heading: "Elms Sans" sans-serif;
  --font-body: "Sora", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 63.4%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  background: #fff;
  font-size: 1.8rem;
  color: var(--color-text);
}

.hero {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}
.hero-nav {
  display: flex;
  align-items: center;
  background: var(--color-primary-hover);
  padding: 0 6rem;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.hero-lists {
  display: flex;
  justify-content: flex-end;
  gap: 10rem;
  flex: 1;
}

.main {
  text-align: center;
  margin-top: 20rem;
}
.main-rating {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 3rem;
}
.main-rating-rate {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.offering {
  text-align: center;
}
.offering-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  margin: 5rem 4rem;
}
.offering-card-text {
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plan {
  margin-top: 15rem;
}
.plan-meals {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  margin-bottom: 5rem;
}

.about {
  padding: 0 7rem;
}
.about-intro {
  display: flex;
  gap: 3rem;
  height: 40rem;
  margin: 3rem 8rem;
}
.about-intro-left {
  flex: 0 1 60%;
  padding-top: 4rem;
}
.about-intro-right {
  flex: 1;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
}
.about-intro-right-img {
  height: 100%;
  width: 100%;
}

.about-grid {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  margin: 8rem 8rem;
}
.about-grid-left {
  display: flex;
  gap: 1rem;
  flex: 0 0 50%;
}
.about-grid-left div {
  background-color: orangered;
  flex: 1;
  height: 40rem;
  border-radius: 2rem;
}
.about-grid-left-img {
  width: 100%;
  height: 100%;
}
.about-grid-right {
  text-align: start;
}

.gallery-section {
  height: 100vh;
  width: 100%;
  margin-top: 20rem;
  overflow: hidden;
  position: relative;
  background-color: var(--color-primary-dark);
}

.gallery {
  display: flex;
  align-items: center;
  height: 70vh;
  gap: 2rem;
  position: relative;
  z-index: 3;
}
.gallery-img {
  width: 50rem;
  height: 50rem;
  object-fit: cover;
  flex-shrink: 0;
  transition: all 0.2s;
  border-radius: 0.5rem;
}
.gallery-img:hover {
  transform: scale(1.02);
  height: 53rem;
}

.contact {
  min-height: 30vh;
  width: 100%;
  transform: translateY(30%);
}

.footer {
  height: 60vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.937254902);
}

.hero-list {
  list-style: none;
}
.hero-list-link {
  text-decoration: none;
}
.hero-icon {
  height: 9rem;
  width: 13rem;
}

.main-btn {
  padding: 2rem 3.5rem;
  background-color: var(--color-primary);
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 1rem;
  margin-top: 10rem;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.offering-card {
  position: relative;
  border-radius: 3rem;
  text-align: start;
  background-image: linear-gradient(rgba(22, 22, 22, 0.2117647059)), url(../img/event-img.jpg);
  background-position: center;
  background-size: cover;
  height: 50rem;
}
.offering-card-1 {
  background-image: linear-gradient(rgba(22, 22, 22, 0.2117647059)), url(../img/event-img-2.jpg);
}
.offering-card-3 {
  background-image: linear-gradient(rgba(22, 22, 22, 0.2117647059)), url(../img/event-img-3.jpg);
}

.contact-container {
  width: 70%;
  height: 50rem;
  margin: 5rem auto;
  padding: 8rem 0;
  background-image: linear-gradient(rgba(17, 17, 17, 0.5803921569)), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbiwChzTDy0cfLfsyWddeGlkSj3emVjlF0yl_UBBCAGW0Gq8x80EZdf6o&s=10");
  background-position: center;
  background-size: cover;
}
.contact-btn {
  background-color: var(--color-primary);
  padding: 2rem;
  border-radius: 1rem;
  text-decoration: none;
  color: #eee;
}

.main-spice-palms--left {
  position: absolute;
  bottom: 0;
  left: -1%;
  height: 40rem;
  width: 40rem;
  transform: rotate(0deg);
}
.main-spice-palms--right {
  position: absolute;
  top: 8%;
  right: -1%;
  height: 40rem;
  width: 40rem;
  transform: rotate(180deg);
}
.main-spice-veg {
  height: 10rem;
  width: 10rem;
}
.main-spice-veg--tomatoes {
  position: absolute;
  top: 20%;
  left: 15%;
}
.main-spice-veg--pear {
  position: absolute;
  bottom: 20%;
  right: 15%;
}

.hero-nav-logo {
  font-family: var(--font-heading);
  font-size: 3rem;
  font-weight: 600;
}
.hero-nav-logo span {
  color: var(--color-primary);
}
.hero-list-link {
  font-weight: 500;
  color: var(--color-text);
  font-size: 2rem;
}
.hero-list-link--active {
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
  font-weight: 700;
}

.main-heading {
  font-family: "Elms Sans" sans-serif;
  color: var(--color-primary);
  font-size: 7rem;
  font-weight: 600;
}
.main-heading--dark {
  color: var(--color-primary-dark);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.main-text {
  font-size: 1.8rem;
}
.main-text--sub {
  margin-bottom: 3rem;
}
.main-rating-text span {
  color: var(--color-primary);
}

.offering-heading {
  color: var(--color-primary);
  font-size: 6rem;
  font-weight: 600;
}
.offering-heading span {
  color: var(--color-primary-dark);
}

.plan-text {
  max-width: 42%;
  margin: 2rem auto;
}
.plan-meal-container-img {
  width: 40rem;
  transition: all 0.2s;
}
.plan-meal-container-img:hover {
  transform: translateY(-2px);
}
.plan-meal-text {
  font-family: var(--font-heading);
  font-size: 3rem;
}

.about-intro-left {
  text-align: start;
}
.about-text {
  margin-bottom: 2rem;
}
.about-head {
  margin-bottom: 2rem;
}
.about-head span {
  color: var(--color-primary);
}
.about-grid-paragraph {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}
.about-grid-paragraph:first-child {
  margin-top: 2rem;
}

.gallery-text {
  color: var(--color-primary);
}

.gallery-heading {
  padding: 8rem 0;
}

.contact-heading {
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.contact-text {
  color: #fff;
  padding-bottom: 4rem;
}
.contact-text-sub {
  color: #fff;
  display: inline-block;
}
.contact-link {
  color: var(--color-primary);
  text-decoration: none;
}

.head {
  color: var(--color-primary);
  font-size: 6rem;
  font-weight: 600;
}
.head span {
  color: var(--color-primary-dark);
}

.center {
  text-align: center;
}

h2 {
  color: var(--color-primary-dark);
  font-family: var(--font-heading);
}
h2 span {
  color: var(--color-primary);
}

.paragraphy-text {
  color: var(--color-primary-dark);
  font-family: var(--font-heading);
}
.paragraphy-text span {
  color: var(--color-primary);
}

.about-grid-right-leaf {
  position: absolute;
  width: 20rem;
  height: 20rem;
  top: -40%;
  left: 0;
  transform: rotateY(200deg);
}

.lower {
  transform: translateY(20%);
  overflow: hidden;
}

.higher {
  overflow: hidden;
}

.svg-camera {
  font-size: 8rem;
}

.flexy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gap--1 {
  gap: 1rem;
}

.active {
  background: #000;
}

.gallery-vid {
  height: 65rem;
  width: 60rem;
}
.gallery-vid:hover {
  transform: none;
  height: 70rem;
}

.icon-whatsapp {
  height: 2rem;
  width: 2rem;
  fill: var(--color-primary-dark);
  transform: translateY(25%);
  margin-right: 0.5rem;
}

.mar-top {
  margin-top: 4rem;
}

.contact-social-icon {
  fill: var(--color-primary);
  height: 3rem;
  width: 3rem;
  margin-top: 3rem;
  padding: 0.3rem;
}

.icon {
  color: var(--color-primary-dark);
  position: absolute;
  width: 10rem;
  height: 10rem;
}

.lucide-cooking-pot {
  top: 15%;
  left: 20%;
  transform: rotate(-45deg);
  width: 12rem;
  height: 12rem;
}

.lucide-cherry {
  display: none;
  top: 70%;
  left: 7%;
  transform: rotate(-45deg);
}

.lucide-utensils-crossed {
  top: 7%;
  right: 7%;
  transform: rotate(15deg);
  width: 9rem;
  height: 9rem;
}

.lucide-line-squiggle {
  top: 85%;
  left: 2%;
  width: 9rem;
  height: 9rem;
  transform: rotate(180deg);
}

.lucide-star {
  top: 20%;
  left: 75%;
  width: 5rem;
  height: 5rem;
  transform: rotate(25deg);
}

.lucide-gallery-vertical {
  height: 4.2rem;
  width: 4.2rem;
  transform: translateY(3px);
}

.icon--active {
  opacity: 1;
}

.extra-size {
  width: 30rem;
}

.size--mid {
  width: 35rem;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(20px);
  background-color: rgba(66, 19, 1, 0.5137254902);
}

.icon-link {
  height: 8rem;
  width: 8rem;
}

/*# sourceMappingURL=style.css.map */
