@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap");
@import url("https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Sora:wght@100..800&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Iansui&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --color-bg: #f5f5f3;
  --color-primary: #ff6b35;
  --color-primary-dark: #421301;
  --color-primary-hover: #ce3d3d10;
  --color-text: #0b0909;
  --color-text-light: #63615f;
  --color-accent: #a05529;
  --color-beige: #e7cdb2;
  --color-border: #a4a9aa;
  --font-heading: "Elms Sans" sans-serif;
  --font-body: "Sora", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 50%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: none;
  scrollbar-gutter: stable;
  overflow-x: hidden;
}
@media (max-width: 768px) {
  html {
    font-size: 35%;
  }
}
@media (max-width: 425px) {
  html {
    font-size: 30%;
  }
}

html::--webkit-scrollbar {
  display: none;
}

body {
  font-family: var(--font-body);
  background: #fff;
  font-size: 2.5rem;
  color: var(--color-text);
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
}

::--webkit-scrollbar {
  display: hidden;
}

.hero-list {
  list-style: none;
}
.hero-list-link {
  text-decoration: none;
}
.hero-icon {
  height: 9rem;
  width: 13rem;
}

.main-btn {
  padding: 2rem 3.5rem;
  background-color: var(--color-primary);
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 1rem;
  margin-top: 10rem;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.offering-card {
  position: relative;
  border-radius: 3rem;
  background-image: linear-gradient(rgba(22, 22, 22, 0.2117647059)), url(../img/event-img-2.jpg);
  background-position: center;
  background-size: cover;
  height: 50rem;
}
.offering-card-1 {
  background-image: linear-gradient(rgba(22, 22, 22, 0.2117647059)), url(../img/event-img.jpg);
}
.offering-card-3 {
  background-image: linear-gradient(rgba(22, 22, 22, 0.2117647059)), url(../img/event-img-3.jpg);
}

.contact {
  position: relative;
  z-index: 500;
}
.contact-container {
  font-size: 3rem;
  font-weight: 200;
  padding: 20rem 0;
  background-image: linear-gradient(rgba(17, 17, 17, 0.6901960784)), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbiwChzTDy0cfLfsyWddeGlkSj3emVjlF0yl_UBBCAGW0Gq8x80EZdf6o&s=10");
  background-position: center;
  background-size: cover;
}
.contact-btn {
  background-color: var(--color-primary);
  padding: 2rem;
  border-radius: 1rem;
  text-decoration: none;
  color: #eee;
}

.main-spice-palms--left {
  position: absolute;
  bottom: 0;
  left: -1%;
  height: 40rem;
  width: 40rem;
  transform: rotate(0deg);
}
.main-spice-palms--right {
  position: absolute;
  top: 8%;
  right: -1%;
  height: 40rem;
  width: 40rem;
  transform: rotate(180deg);
}
.main-spice-veg {
  height: 10rem;
  width: 10rem;
}
.main-spice-veg--tomatoes {
  position: absolute;
  top: 20%;
  left: 15%;
}
.main-spice-veg--pear {
  position: absolute;
  bottom: 20%;
  right: 15%;
}

.footer-icon {
  transform: translateY(2px);
}
.footer-icon--social {
  width: 20rem;
  height: 20rem;
}

.hero {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}
.hero-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-primary-hover);
  padding-right: 2rem;
  overflow-x: hidden;
}
.hero-nav-right {
  display: flex;
  align-items: center;
}
.hero-lists {
  display: flex;
  justify-content: flex-end;
  gap: 10rem;
  flex: 1;
}

.main {
  text-align: center;
}
.main-container {
  transform: translateY(70%);
  z-index: 200;
}
.main-rating {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 3rem;
}
.main-rating-rate {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.offering {
  text-align: center;
}
.offering-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  margin: 4rem;
}
.offering-card-text {
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.plan {
  margin-top: 15rem;
}
.plan-meals {
  display: flex;
  justify-content: center;
  overflow-x: scroll;
  scrollbar-color: transparent;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-gutter: stable;
  margin-bottom: 5rem;
}
.plan-meal-container-img {
  width: 40rem;
}

.about {
  padding: 0 7rem;
}
.about-intro {
  display: flex;
  gap: 3rem;
  height: 40rem;
  margin: 3rem 8rem;
}
.about-intro-left {
  flex: 0 1 60%;
  padding-top: 4rem;
}
.about-intro-right {
  flex: 1;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 50%;
}
.about-intro-right-img {
  height: 100%;
  width: 100%;
}

.about-grid {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  margin: 8rem 8rem;
}
.about-grid-left {
  display: flex;
  gap: 1rem;
  flex: 0 0 50%;
}
.about-grid-left div {
  background-color: orangered;
  flex: 1;
  height: 40rem;
  border-radius: 2rem;
}
.about-grid-left-img {
  width: 100%;
  height: 100%;
}
.about-grid-right {
  text-align: start;
}

.gallery-section {
  height: 100vh;
  width: 100%;
  margin-top: 20rem;
  overflow: hidden;
  position: relative;
  background-color: var(--color-primary-dark);
}

.gallery {
  display: flex;
  align-items: center;
  height: 70vh;
  gap: 2rem;
  position: relative;
  z-index: 3;
}
.gallery-img {
  width: 50rem;
  height: 50rem;
  object-fit: cover;
  flex-shrink: 0;
  transition: all 0.2s;
  border-radius: 0.5rem;
}
.gallery-img:hover {
  transform: scale(1.02);
  height: 53rem;
}

.contact {
  min-height: auto;
  width: 100%;
}

.footer {
  position: relative;
  height: auto;
  width: 100%;
  background-color: #eee;
  padding: 10rem 3rem 10rem 3rem;
  z-index: 1;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.footer-info {
  text-align: center;
}
.footer-company {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.copy-right {
  color: rgba(65, 62, 62, 0.7882352941);
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  body {
    font-size: 2.5rem;
  }
  .head {
    font-size: inherit;
  }
  .hero-nav {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .hero-nav-logo {
    font-size: 3rem;
  }
  .hero .contact-link-anime {
    display: none;
  }
  .hero-lists {
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
  }
  .main-container {
    position: absolute;
    width: 100%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .main {
    height: 90vh;
  }
  .main-heading {
    font-size: 6rem;
  }
  .main-text {
    font-size: 4rem;
  }
  .main-spice-palms--right {
    height: 30rem;
    width: 30rem;
  }
  .main-spice-palms--left {
    height: 40rem;
    width: 40rem;
  }
  .main-rating {
    margin-top: 7rem;
    font-size: 1.8rem;
  }
  .main-rating-rating-rate {
    gap: 0.2rem;
  }
  .offering {
    margin-top: 4rem;
  }
  .offering-cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 2rem 2rem;
    grid-row-gap: 8rem;
    grid-column-gap: 3rem;
  }
  .offering-card {
    text-align: center;
  }
  .offering-card-text {
    width: 100%;
  }
  .grid-row--all {
    grid-column: 1/3;
    grid-row: 2/-1;
  }
  .plan {
    margin-top: 8rem;
  }
  .plan-text-container {
    width: 100%;
  }
  .plan-meal-container-img {
    height: 20rem;
    width: 20rem;
  }
  .plan-text {
    max-width: 70%;
  }
  .about {
    padding: 0 2rem;
  }
  .about-intro {
    height: auto;
    margin: 3rem 0;
  }
  .about-intro-left {
    padding-top: 3rem;
  }
  .about-intro-right-img {
    height: 100%;
  }
  .about-icon {
    height: 3rem;
    width: 3rem;
  }
  .about-grid-left {
    display: none;
  }
  .lower {
    transform: translateY(0);
  }
  .about-grid {
    flex-direction: column;
    margin: 4rem 0;
    gap: 2rem;
  }
  .gallery-section {
    height: auto;
    margin-top: 10rem;
  }
  .gallery {
    height: 100vh;
    padding: 2rem 0;
  }
  .gallery-img {
    width: 60rem;
    height: 60rem;
  }
  .gallery-vid {
    height: 70;
  }
  .contact {
    transform: translateY(0);
  }
  .contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    width: 100%;
    padding: 5rem;
    transform: translateY(0);
  }
  .contact-text-container {
    text-align: center;
  }
  .footer {
    height: auto;
    padding: 8rem 2rem 10rem;
  }
  .footer-container {
    flex-direction: column;
    gap: 2rem;
  }
  .copy-right {
    position: static;
    transform: none;
    margin-top: 2rem;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .hero-nav-link--hidden {
    display: none;
  }
  .about-intro-right {
    align-self: flex-start;
    width: 100%;
    height: 217px;
  }
  .about {
    padding: 0 2rem;
  }
}
@media (max-width: 446px) {
  .offering-card-text {
    font-size: 3rem;
  }
}
@media (max-width: 425px) {
  p {
    font-size: 2.7rem;
  }
  .hero-nav {
    padding: 0 1.5rem;
  }
  .hero-lists {
    gap: 1.2rem;
  }
  .main-container {
    top: 40%;
    left: 50%;
  }
  .about {
    padding: 0 1.5rem;
  }
}
@media (max-width: 634px) {
  .about {
    padding: 0 4rem;
  }
  .about-intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
    min-height: 40rem;
    margin: 3rem 0;
  }
  .about-intro-left {
    flex: 1;
  }
  .about-intro-right {
    align-self: flex-end;
  }
  .about-grid-paragraph {
    margin-bottom: 1rem;
  }
  .gallery-section {
    padding-top: 8rem;
    height: 100vh;
  }
  .gallery {
    height: auto;
  }
  .gallery-heading {
    padding: 0;
  }
  .contact-container {
    font-size: 3rem;
    font-weight: 200;
  }
}
@media (max-width: 375px) {
  .hero-lists {
    gap: 0.8rem;
    font-size: 1.5rem;
  }
  .main {
    margin-top: 6rem;
  }
  .about {
    padding: 0 3rem;
  }
}
@media (max-width: 320px) {
  .hero-nav {
    padding: 0 1rem;
  }
  .hero-lists {
    gap: 0.6rem;
    font-size: 1.3rem;
  }
  .main {
    margin-top: 5rem;
  }
}
.hero-nav-logo {
  font-family: var(--font-heading);
  font-weight: 600;
}
.hero-nav-logo span {
  color: var(--color-primary);
}
.hero-list-link {
  font-weight: 500;
  color: var(--color-text);
  font-size: 2rem;
}
.hero-list-link--active {
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
  font-weight: 700;
}

.main-heading {
  font-family: "Elms Sans" sans-serif;
  color: var(--color-primary);
  font-size: 8rem;
  font-weight: 600;
}
.main-heading--dark {
  color: var(--color-primary-dark);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.main-text {
  font-size: 2.2rem;
}
@media (max-width: 768px) {
  .main-text {
    font-size: 2.3rem;
  }
}
.main-text--sub {
  margin-bottom: 3rem;
}
.main-rating-text span {
  color: var(--color-primary);
}

.offering-heading {
  color: var(--color-primary);
  font-size: 6rem;
  font-weight: 600;
}
.offering-heading span {
  color: var(--color-primary-dark);
}

.plan-heading {
  margin-top: 6rem;
}
.plan-text {
  min-width: 42%;
  max-width: 70%;
  margin: 2rem auto;
}
.plan-meal-container-img {
  transition: all 0.2s;
}
.plan-meal-container-img:hover {
  transform: translateY(-2px);
}
.plan-meal-text {
  font-family: var(--font-heading);
  font-size: 3rem;
}

.about-intro-left {
  text-align: start;
}
.about-text {
  margin-bottom: 2rem;
}
.about-head {
  margin-bottom: 2rem;
}
.about-head span {
  color: var(--color-primary);
}
.about-grid-paragraph {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
}
.about-grid-paragraph:first-child {
  margin-top: 2rem;
}
@media (max-screen: 634px) {
  .about-grid-paragraph {
    margin-bottom: 1rem;
  }
}

.gallery-text {
  color: var(--color-primary);
}

.gallery-heading {
  padding: 8rem 0;
}

.contact-heading {
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.contact-text {
  color: #fff;
  padding-bottom: 4rem;
}
.contact-text-sub {
  color: #fff;
  display: inline-block;
}
.contact-link {
  color: var(--color-primary);
  text-decoration: none;
}

.footer {
  color: #000000;
}
.footer-heading {
  font-size: 3rem;
}
.footer-text {
  color: #0b0909;
}
.footer-links-link {
  list-style: none;
  text-decoration: none;
  color: #0b0909;
}
.footer-links-link:not(:last-child) {
  margin-bottom: 2rem;
}

.section {
  margin-top: 10rem;
}

.head {
  color: var(--color-primary);
  font-size: 6rem;
  font-weight: 600;
}
.head span {
  color: var(--color-primary-dark);
}

.extra-margin {
  margin-top: 60.3906px;
}

.center {
  text-align: center;
}

h2 {
  color: var(--color-primary-dark);
  font-family: var(--font-heading);
}
h2 span {
  color: var(--color-primary);
}

.paragraphy-text {
  color: var(--color-primary-dark);
  font-family: var(--font-heading);
}
.paragraphy-text span {
  color: var(--color-primary);
}

.about-grid-right-leaf {
  position: absolute;
  width: 20rem;
  height: 20rem;
  top: -40%;
  left: 0;
  transform: rotateY(200deg);
}

.lower {
  overflow: hidden;
}

.higher {
  overflow: hidden;
}

.svg-camera {
  font-size: 8rem;
}

.flexy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: center;
}

.flexy-gap--3 {
  display: flex;
  gap: 3rem;
  justify-content: space-around;
}

.gap--1 {
  gap: 1rem;
}

.gap--3 {
  gap: 3rem;
}

.active {
  background: #000;
}

.gallery-vid {
  height: 65rem;
  width: 60rem;
}
.gallery-vid:hover {
  transform: none;
  height: 70rem;
}

.icon-whatsapp {
  height: 2rem;
  width: 2rem;
  fill: var(--color-primary-dark);
  transform: translateY(25%);
  margin-right: 0.5rem;
}

.mar-top {
  margin-top: 4rem;
}

.mar-btm {
  margin-bottom: 2rem;
}

.contact-social-icon {
  fill: var(--color-primary);
  height: 3rem;
  width: 3rem;
  margin-top: 3rem;
  padding: 0.3rem;
}

.footer-icon--social {
  fill: var(--color-primary-dark);
  height: 4rem;
  width: 4rem;
  margin-top: 3rem;
  padding: 0.3rem;
}
.footer-icon--social-link {
  text-decoration: none;
}

.icon {
  color: var(--color-primary-dark);
  position: absolute;
  width: 10rem;
  height: 10rem;
}

.lucide-cooking-pot {
  top: 15%;
  left: 20%;
  transform: rotate(-45deg);
  width: 12rem;
  height: 12rem;
}

.lucide-cherry {
  display: none;
  top: 70%;
  left: 7%;
  transform: rotate(-45deg);
}

.lucide-utensils-crossed {
  top: 7%;
  right: 7%;
  transform: rotate(15deg);
  width: 9rem;
  height: 9rem;
}

.lucide-line-squiggle {
  top: 85%;
  left: 2%;
  width: 9rem;
  height: 9rem;
  transform: rotate(180deg);
}

.lucide-star {
  top: 20%;
  left: 75%;
  width: 5rem;
  height: 5rem;
  transform: rotate(25deg);
}

.lucide-gallery-vertical {
  height: 4.2rem;
  width: 4.2rem;
  transform: translateY(3px);
}

.icon--active {
  opacity: 1;
}

.start {
  text-align: start;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(20px);
  background-color: rgba(66, 19, 1, 0.5137254902);
}

.overlay-card {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5058823529);
  border-radius: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #eee;
  text-transform: capitalize;
  line-height: 4rem;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  opacity: 0;
  transition: all 0.4s;
}
.overlay-card:hover {
  opacity: 1;
}
.overlay-card-text {
  list-style: none;
}
.overlay-card-text-li:hover {
  text-decoration: underline;
  cursor: default;
}
.overlay-card::after {
  content: "→ ";
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  color: #eee;
  position: absolute;
  left: 100%;
  transform: translateX(-10%);
  font-weight: 400;
  cursor: pointer;
  transition: all 0.5s;
  transition-delay: 0.3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay-card:hover::after {
  transform: translateX(-60%);
}

.footer-icons {
  height: 2.4rem;
  width: 2.4rem;
}

.footer-section {
  margin-top: 3rem;
}

.btn-hover {
  transition: all 0.2;
}
.btn-hover:hover {
  transform: translateY(-2px);
  box-shadow: 1px 0 20px rgba(53, 52, 52, 0.8274509804);
}

.link-anime {
  transition: all 0.2s;
}
.link-anime:hover {
  color: var(--color-primary-dark);
  border-bottom: 3px solid var(--color-primary-dark);
  transform: translateY(-3px);
}

.contact-link-anime {
  transition: all 0.2s;
}
.contact-link-anime:hover {
  color: var(--color-primary-dark);
  transform: translateY(-3px);
}

.footer-link-anime {
  transition: all 0.2s;
}
.footer-link-anime:hover {
  color: var(--color-primary-dark);
}

@keyframes offer-btn {
  0% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}

/*# sourceMappingURL=style.css.map */
