:root {
  --color-bg: #f5f5f3;
  --color-primary: #e04f11;
  --color-primary-hover: #d99764;

  --color-text: #0b0909;
  --color-text-light: #63615f;

  --color-accent: #a05529;
  --color-beige: #e7cdb2;

  --color-border: #a4a9aa;

  --font-heading: "Cormorant Garamond", serif;
  --font-body: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: var(--color-bg);
  // height: 120vh;
  // padding: 2rem;
  overflow: hidden;
  font-family: var(--font-body);
  position: relative;
}
