.hero {
  &-nav {
    &-links {
      display: flex;
      gap: 1.8rem;
      text-transform: uppercase;
    }
    &-link {
      list-style: none;
      text-decoration: none;
      color: var(--color-beige);
      transition: all 0.4s;

      &:hover {
        padding-bottom: 0.3rem;
        border-bottom: 1px solid var(--color-beige);
      }

      &::after {
        content: "";
        height: 100%;
        width: 3px;
        background-color: var(--color-beige);
      }
    }

    &-logo {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    &-svg {
      height: 3rem;
      width: 3rem;
      fill: var(--color-primary);
    }

    &-btn {
      padding: 1.5rem 2.5rem;
      border: none;
      border-radius: 2rem;
      background-color: var(--color-primary);
      color: var(--color-beige);
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      cursor: pointer;
    }
  }
}

.main-left {
  &-btn {
    padding: 1rem 2rem;
    border: none;
    font-family: var(--font-heading);
    border-radius: 0.7rem;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
  }
}

.about-right-book {
  position: absolute;
  bottom: 5%;
  right: 5%;
}
