.hero {
  &-list {
    list-style: none;
    &-link {
      text-decoration: none;
    }
  }

  &-icon {
    height: 9rem;
    width: 13rem;
  }
}

.main {
  &-btn {
    padding: 2rem 3.5rem;
    background-color: var(--color-primary-dark);
    color: #fff;
    border: none;
    border-radius: 1rem;
    margin-top: 2rem;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
  }
}

.offering {
  &-card {
    position: relative;
    border-radius: 3rem;
    text-align: start;
    background-image: linear-gradient(#16161636), url(../img/event-img.jpg);
    background-position: center;
    background-size: cover;
    height: 50rem;

    &-1 {
      background-image: linear-gradient(#16161636), url(../img/event-img-2.jpg);
    }
    &-3 {
      background-image: linear-gradient(#16161636), url(../img/event-img-3.jpg);
    }
  }
}

.contact {
  &-container {
    width: 70%;
    height: 50rem;
    // background: #000;
    margin: 5rem auto;
    padding: 8rem 0;
    background-image:
      linear-gradient(#11111194),
      url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbiwChzTDy0cfLfsyWddeGlkSj3emVjlF0yl_UBBCAGW0Gq8x80EZdf6o&s=10");
    background-position: center;
    background-size: cover;
  }

  &-btn {
    background-color: var(--color-primary);
    padding: 2rem;
    border-radius: 1rem;
    text-decoration: none;
    color: #eee;

    // display: flex;
    // align-items: center;
  }
}

//////////////////////////////////////////
/// FOR DECORATION SECTION ON HERO SECTION
/// HERO SPICE

.main-spice-palms--left {
  position: absolute;
  bottom: 0;
  left: -1%;
  height: 40rem;
  width: 40rem;

  transform: rotate(0deg);
}
.main-spice-palms--right {
  position: absolute;
  top: 8%;
  right: -1%;
  height: 40rem;
  width: 40rem;

  transform: rotate(180deg);
}
