.hero {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(125deg, #374631 100%, #0f1f05c9);
  position: relative;
  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }
}

.main {
  display: flex;
  width: 100%;
  // justify-content: space-between;

  position: absolute;
  top: 30%;
  padding: 0 8rem;

  &-left {
    flex: 40%;
  }

  &-right {
    position: relative;
    width: 80%;

    // flex: 0 0 1;
    &-img {
      height: 50rem;
      width: 50rem;
      position: absolute;
      right: 3%;
      // top: 60%;
    }
  }
}
