@import url("https://font.googleapis.com/css2?family=Cedarville+Cursive&family=Mono+Signature&display=swap");

.hero {
  &-nav {
    &-text {
      font-family: var(--font-heading);
      color: var(--color-primary);
      font-size: 3.5rem;
      font-weight: 590;
    }
  }
}

.main-left {
  color: var(--color-bg);

  &-heading {
    &--secondary {
      font-family: var(--font-heading);
      font-size: 8rem;
      font-weight: 400;
      margin-bottom: 4rem;

      & span {
        color: var(--color-primary);
      }
    }

    &--tertiary {
      color: var(--color-bg);
      font-family: var(--font-heading);
      font-size: 2.5rem;
      letter-spacing: 2.5px;
      line-height: 3rem;
      font-weight: 300;

      margin-bottom: 2rem;
    }
  }
}

.about-left-header {
  &--main {
    text-transform: uppercase;
    color: var(--color-primary);
    font-size: 2rem;
    font-family: "Mono Signature", cursive;
  }
}
