.hero {
  &-nav {
    &-logo {
      // font-family: var(--color-heading);
      // font-family: "LXGW WenKai TC", sans-serif;
      font-family: var(--font-heading);
      font-size: 3rem;
      font-weight: 600;

      & span {
        color: var(--color-primary);
      }
    }
  }

  &-list-link {
    font-weight: 500;
    color: var(--color-text);
    font-size: 2rem;

    &--active {
      color: var(--color-primary);
      border-bottom: 2px solid var(--color-primary);
      font-weight: 700;
    }
  }
}

.main {
  // font-family: "Iansui", cursive;
  &-heading {
    font-family: "Elms Sans" sans-serif;
    color: var(--color-primary);
    font-size: 7rem;
    font-weight: 600;

    &--dark {
      color: var(--color-primary-dark);
      text-transform: capitalize;
      margin-bottom: 1rem;
    }
  }

  &-text {
    font-size: 1.8rem;
  }

  &-rating-text span {
    color: var(--color-primary);
  }
}

.offering {
  &-heading {
    color: var(--color-primary);
    font-size: 6rem;
    font-weight: 600;

    & span {
      color: var(--color-primary-dark);
    }
  }
}

.plan {
  &-text {
    max-width: 42%;
    margin: 2rem auto;
  }

  &-meal-container-img {
    width: 40rem;
  }

  &-meal-text {
    font-family: var(--font-heading);
    font-size: 3rem;
  }
}

.about {
  &-intro-left {
    text-align: start;
  }
  &-text {
    margin-bottom: 2rem;
  }

  &-head {
    margin-bottom: 2rem;
    & span {
      color: var(--color-primary);
    }
  }

  &-grid-paragraph {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;

    &:first-child {
      margin-top: 2rem;
    }
  }
}

.gallery-text {
  color: var(--color-primary);
}
.gallery-heading {
  padding: 8rem 0;
}

.contact {
  &-heading {
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }

  &-text {
    color: #fff;
    padding-bottom: 4rem;

    &-sub {
      color: #fff;
      display: inline-block;
    }
  }
  &-link {
    color: var(--color-primary);
    text-decoration: none;
  }
}
