.ex-size {
  height: 2rem;
  width: 2rem;
}

.flex-col-sp-btw {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2e2e2e50;
  backdrop-filter: blur(10px);
  width: fit-content;
  padding: 2rem;
  border-radius: 2rem;
}

.col-sec {
  color: #1a1a1a;
  cursor: pointer;
}
.col-pri {
  color: #bb3800;
  cursor: pointer;
}
.col-stat {
  color: #0c5218;
}

.gallery {
  height: 100vh;
  width: 100%;
  color: aquamarine;
}

.quote {
  font-size: 20rem;
  font-family: "Yuyu Short", sans-serif;
  color: var(--color-primary);
  display: inline-block;
  position: absolute;
  left: 100%;
  top: -50%;
  transform: translateX(-100%);
}

.dots {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  margin-top: 2rem;
}
.dot {
  width: 0.75rem;
  height: 0.75rem;
  background-color: #1a1a1ad3;
  border-radius: 50%;
  cursor: pointer;
}
.dot--active {
  background-color: var(--color-primary-dark);
}
