.section {
  margin-top: 10rem;
}

.head {
  color: var(--color-primary);
  font-size: 6rem;
  font-weight: 600;
  // margin-top: 8rem;
  & span {
    color: var(--color-primary-dark);
  }
}

.extra-margin {
  // margin-top: 54.3906px;
  margin-top: 60.3906px;
}

.center {
  text-align: center;
}

h2 {
  color: var(--color-primary-dark);
  font-family: var(--font-heading);

  & span {
    color: var(--color-primary);
  }
}
.paragraphy-text {
  color: var(--color-primary-dark);
  font-family: var(--font-heading);

  & span {
    color: var(--color-primary);
  }
}

.about-grid-right-leaf {
  position: absolute;
  width: 20rem;
  height: 20rem;

  top: -40%;
  left: 0;
  transform: rotateY(200deg);
}

.lower {
  // transform: translateY(20%);
  overflow: hidden;
}
.higher {
  overflow: hidden;
}

.svg-camera {
  font-size: 8rem;
}

.flexy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: center;
}

.flexy-gap--3 {
  display: flex;
  gap: 3rem;
  justify-content: space-around;
}

////////////////////
/// FLEX GAPS
.gap--1 {
  gap: 1rem;
}

.gap--3 {
  gap: 3rem;
}

.active {
  background: #000;
}

.gallery-vid {
  height: 65rem;
  width: 60rem;

  &:hover {
    transform: none;
    height: 70rem;
  }
}

.icon-whatsapp {
  height: 2rem;
  width: 2rem;
  fill: var(--color-primary-dark);

  transform: translateY(25%);
  margin-right: 0.5rem;
}

.mar-top {
  margin-top: 4rem;
}

.mar-btm {
  margin-bottom: 2rem;
}

.contact-social-icon {
  fill: var(--color-primary);
  height: 3rem;
  width: 3rem;
  margin-top: 3rem;
  padding: 0.3rem;
}

.footer-icon--social {
  fill: var(--color-primary-dark);
  height: 4rem;
  width: 4rem;
  margin-top: 3rem;
  padding: 0.3rem;

  &-link {
    text-decoration: none;
  }
}
.icon {
  // color: #551802;
  color: var(--color-primary-dark);
  position: absolute;
  width: 10rem;
  height: 10rem;
}

/////////////////
/// POSITIONING ICONS
.lucide-cooking-pot {
  top: 15%;
  left: 20%;
  transform: rotate(-45deg);
  width: 12rem;
  height: 12rem;
}

.lucide-cherry {
  display: none;
  top: 70%;
  left: 7%;
  transform: rotate(-45deg);
}

.lucide-utensils-crossed {
  top: 7%;
  right: 7%;
  transform: rotate(15deg);
  width: 9rem;
  height: 9rem;
}

.lucide-line-squiggle {
  top: 85%;
  left: 2%;
  width: 9rem;
  height: 9rem;
  transform: rotate(180deg);
}

.lucide-star {
  top: 20%;
  left: 75%;
  width: 5rem;
  height: 5rem;
  transform: rotate(25deg);
}

.lucide-gallery-vertical {
  height: 4.2rem;
  width: 4.2rem;
  transform: translateY(3px);
}

///////
/// ICON ACTIVE
.icon--active {
  opacity: 1;
}

.start {
  text-align: start;
  // height: 35rem;
}

////////////////////////////
/// FOR NAVBAR TO BE VISIBLE WHEN SCROLLING UP
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(20px);
  background-color: #42130183;
}

//////////////////////
/// OFFERING OVERLAY CARDS FEATURE
.overlay-card {
  width: 100%;
  height: 100%;
  background: #00000081;
  border-radius: 3rem;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // color: var(--color-primary);
  color: #eee;
  text-transform: capitalize;
  line-height: 4rem;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;

  opacity: 0;
  transition: all 0.4s;

  &:hover {
    opacity: 1;
  }
  &-text {
    list-style: none;

    &-li:hover {
      text-decoration: underline;
      cursor: default;
    }
  }

  &::after {
    content: "→ ";
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #eee;
    position: absolute;
    left: 100%;
    transform: translateX(-10%);
    font-weight: 400;
    cursor: pointer;
    transition: all 0.5s;
    transition-delay: 0.3;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover::after {
    transform: translateX(-60%);
  }
}

.footer-icons {
  height: 2.4rem;
  width: 2.4rem;
}

.footer-section {
  margin-top: 3rem;
}
